/* Styles go here */

#calculator {
    width:25%;
    border:3px #777;
    border-radius:3px;
    padding:10px;
    background:#444;
  }
  #calculator .btn {
    width:22.75%;
    margin-bottom:3px;
    padding:4px 0 4px 0;
    font-weight:bold;
  }
  #calculator .btn-info {
    color:#000;
    font-weight:bold;
  }
  #calculator .form-control {
    width:99%;
    margin-bottom:-10px;
    cursor:default;
    resize:none;
    background:#fff;
    color:#000;
    font-weight:bold;
    text-align:right;
  }